@{
    ViewBag.Title = "Change Password";
    //Layout = null;
}
<div class="right_col" role="main">
    <div class="x_panel">
        <div class="x_title">
            <div class="page-title">
                <div class="title_left">
                    <h3>
                        Change Password
                    </h3>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row hide" id="oldnewsame" align="center">
            <span style="color:red;">OldPassword and NewPassword Must be Different</span>
        </div>
        <div class="row hide" id="newcpassname" align="center">
            <span style="color:red;">NewPassword and ConfirmPassword Must be Same</span>
        </div>
        <div class="row hide" id="oPass" align="center">
            <span style="color:red;">Your OldPassword is Wrong</span>
        </div>
        <div class="row hide" id="success" align="center">
            <span style="color:green;">Password Changed Successfully</span>
        </div>
        <br />
        <div class="row">
            <div class="item form-group">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <label>Old Password</label>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-5">
                    <input type="password" id="txtOldPassword" class="form-control" required="required" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <label>New Password</label>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-5">
                    <input type="password" id="txtNewPassword" class="form-control" required="required" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <label>Confirm Password</label>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-5">
                    <input type="password" id="txtConfirmPassword" class="form-control" required="required" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-3"></div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <input type="button" id="btnChangePassword" value="Change Password" class="btn btn-success submit">
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $('#btnChangePassword').click(function () {
            $('#oldnewsame').addClass('hide');
            $('#newcpassname').addClass('hide');
            $('#opass').addClass('hide');
            $('#success').addClass('hide');
            if ($('#txtOldPassword').val().trim() == "") {
                $('#txtOldPassword').css('border-color', 'red');
                return false;
            } else {
                $('#txtOldPassword').css('border-color', '');
            }
            if ($('#txtNewPassword').val().trim() == "") {
                $('#txtNewPassword').css('border-color', 'red');
                return false;
            } else {
                $('#txtNewPassword').css('border-color', '');
            }
            if ($('#txtConfirmPassword').val().trim() == "") {
                $('#txtConfirmPassword').css('border-color', 'red');
                return false;
            } else {
                $('#txtConfirmPassword').css('border-color', '');
            }
            if ($('#txtOldPassword').val() == $('#txtNewPassword').val()) {
                $('#oldnewsame').removeClass("hide");
            } else {
                if ($('#txtNewPassword').val() == $('#txtConfirmPassword').val()) {
                    $.ajax({
                        type: "POST",
                        data: { oldPassword: $('#txtOldPassword').val(), newPassword: $('#txtNewPassword').val() },
                        url: '/Home/ChangePassword',
                        datatype: 'json',
                        success: function (msg) {
                            if (msg == "success") {
                                $('#txtOldPassword').val('');
                                $('#txtNewPassword').val('');
                                $('#txtConfirmPassword').val('');

                                $('#success').removeClass("hide");
                            } else {
                                $('#oPass').removeClass("hide");
                            }
                        }
                    });
                }
                else {
                    $('#newcpassname').removeClass("hide");
                }
            }
        });
    </script>
}