
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <!-- Custom styling plus plugins -->
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/icheck/flat/green.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body style="background:#F7F7F7;">

    <div class="">
        <div id="wrapper">
            <div id="login" class="animate form">

                <section class="login_content">
                    <form>
                        <h1>Forgot Password</h1>

                        <div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" id="txtEmail" required="" />
                            </div>
                        </div>
                        <div>
                                <input type="submit" value="Submit" id="btnSave" class="btn btn-default submit" />
                                <input type="button" id="btnBack" value="Back" class="btn btn-default submit"/>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                    <!-- form -->
                </section>
                <!-- content -->
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $('#btnBack').click(function () {
        window.location = "/Home/Login";
    });
    $('#btnSave').click(function () {
        if ($('#txtEmail').val().trim() != "") {
            $.ajax({
                type: "POST",
                data: "emailAddress=" + $('#txtEmail').val(),
                url: '/Home/ForgotPassword',
                datatype: 'json',
                success: function (msg) {
                    if (msg != null) {
                        alert(msg);
                        $('#txtEmail').val('');
                    } else {
                        alert(msg);
                    }
                }
            });
        } else {
            $('#txtEmail').css('border-color', 'red');
            return false;
        }
    });
</script>
